doctype html
html
head
    title Yeti Weather
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
body
    h1 Seattle 
    h2= temperature
    img(src= iconImage, title= icon, alt= icon)

    p 
        em at #{forecastTime}
    p GitHub: 
        a(href="https://github.com/digitalcolony/yeti-weather") Yeti Weather
    p Data from:  
        a(href="https://darksky.net/") Dark Sky
     
    