doctype html
html(lang="en")
    head
        title Yeti Weather
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href="/css/weather-icons.min.css", rel="stylesheet")
        link(href="/css/weather-icons-wind.min.css", rel="stylesheet")
        link(href="/css/bootstrap.min.css", rel="stylesheet")
        link(href="/images/favicon.ico?v=sun2" rel="icon" type="image/x-icon")
    body
        div(class="container")
            h1 Seattle 
            h2= temperature
            
            h2(class=iconClass, title=icon)
            p 
                em at #{forecastTime}
            p 
                a(href="https://github.com/digitalcolony/yeti-weather") GitHub
                |  +   
                a(href="https://darksky.net/") Dark Sky
        
        